{% extends "teacher/dashboard/teacher_template.html"%}

{% block content-script %}
<script>

    document.getElementById("dashboard").classList.remove("bg-gray-900")
    document.getElementById("dashboard").classList.add("bg-gray-500")
    document.getElementById("dashboard-icon").classList.remove("text-gray-600")

</script>
{% endblock %}

{% block content-title %}
Dashboard
{% endblock %}

{% block content %}

<div class="mx-2">


    <div class="relative pt-1 my-4">
        <div class="flex mb-2 items-center justify-between">
            <div>
                <span class="
                text-base
                font-semibold
                inline-block
                py-1
                px-2
                uppercase
                rounded-full
                text-white
                bg-gray-900
              ">
                    Number of Courses
                </span>
            </div>
            <div class="text-right">
                <span class="text-base font-semibold inline-block text-gray-600">
                    {{ data.courses }}/10
                </span>
            </div>
        </div>
        <div class="overflow-hidden h-4 m-auto text-xs flex rounded-full bg-gray-300">
            <div style="width: {{ data.total_course_percent }}%" class="
              shadow-none
              flex flex-col
              text-center
              whitespace-nowrap
              text-white
              justify-center
              bg-gray-900
            "></div>
        </div>
    </div>


    <div class="relative pt-1 my-6">
        <div class="flex mb-2 items-center justify-between">
            <div>
                <span class="
                text-base
                font-semibold
                inline-block
                py-1
                px-2
                uppercase
                rounded-full
                text-white
                bg-gray-900
              ">
              Number of students
                </span>
            </div>
            <div class="text-right">
                <span class="text-base font-semibold inline-block text-gray-600">
                    {{ data.students }}/500
                </span>
            </div>
        </div>
        <div class="overflow-hidden h-4 m-auto text-xs flex rounded-full bg-gray-300 bottom-0">
            <div style="width: {{ data.total_students_percent }}%" class="
              shadow-none
              flex flex-col
              text-center
              whitespace-nowrap
              text-white
              justify-center
              bg-gray-900
            "></div>
        </div>
    </div>


</div>

{% endblock %}