{% extends "teacher/dashboard/teacher_template.html"%}

{% block content-script %}
<script>

    document.getElementById("students").classList.remove("bg-purple-900")
    document.getElementById("students").classList.add("bg-purple-500")
    document.getElementById("students-icon").classList.remove("text-purple-600")

</script>
{% endblock %}

{% block content-title %}
Student Details
{% endblock %}

{% block content %}

<table class="border-collapse border-4 border-purple-800 m-2 text-lg">
    <thead>
      <tr>
        <th class="p-1 text-lg font-bold border border-purple-600 ...">Unique ID</th>
        <th class="p-1 text-lg font-bold border border-purple-600 ...">Name</th>
        <th class="p-1 text-lg font-bold border border-purple-600 ...">Status</th>
        <th class="p-1 text-lg font-bold border border-purple-600 ...">Courses</th>
        <th class="p-1 text-lg font-bold border border-purple-600 ...">Email ID</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="lg:p-0 border border-purple-600 uppercase text-center sm:hidden">19bcs4077</td>
        <td class="p-2 border border-purple-600 ...">Ansh vidyabhanu</td>
        <td class="p-2 border border-purple-600 text-center">✅</td>
        <td class="p-2 border border-purple-600 text-center">2</td>
        <td class="p-2 border border-purple-600 ">anshvidyabhanu8@gmail.com</td>
      </tr>
      <tr>
        <td class="p-2 border border-purple-600 uppercase text-center">19bcs4074</td>
        <td class="p-2 border border-purple-600 ...">maanas gupta</td>
        <td class="p-2 border border-purple-600 text-center">⛔️</td>
        <td class="p-2 border border-purple-600 text-center">3</td>
        <td class="p-2 border border-purple-600 ">19bcs4074@cuchd.in</td>
      </tr>
      <tr>
        <td class="p-2 border border-purple-600 uppercase text-center">19bcs4076</td>
        <td class="p-2 border border-purple-600 ...">yashraj singh boparai</td>
        <td class="p-2 border border-purple-600 text-center">✅</td>
        <td class="p-2 border border-purple-600 text-center">4</td>
        <td class="p-2 border border-purple-600 ">19bcs4076@cuchd.in</td>
      </tr>
    </tbody>
  </table>

  {% endblock %}