{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>Django Tailwind</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		<link href="https://pathshaala.azureedge.net/static/style.min.css" rel="stylesheet">
	</head>

	<body class="">
    <div class="dark:bg-gray-900 dark:text-white text-black font-serif leading-normal tracking-normal">
		<div class="container mx-auto">
			<section class="flex items-center justify-center h-screen">
				<h1 class="text-5xl"> {{ say }}</h1>
        <button class="m-4 bg-blue-500 text-white font-bold py-2 px-4 rounded-full" id="modebtn" onclick="darkMode()">🌙</button>
			</section>
		</div>
  </div>


  <script>
    function darkMode() {
      var element = document.body;
      element.classList.toggle("dark");
      if (element.classList.contains("dark")) {
        document.getElementById("modebtn").innerHTML = "🔆";
      } else {
        document.getElementById("modebtn").innerHTML = "🌙";
      }
    }
</script>

	</body>
</html>
