<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.min.css' %}">
  <title>Pathshaala</title>
</head>
<body>
  <div>
    <h1 class="bg-red-900 text-white text-3xl m-4 p-5 rounded-md font-bold text-center dark:bg-blue-900"> Welcome Hello Worldddd </h1>
  </div>
  <button onclick="darkMode()">mode</button>
  
  <script>
    function darkMode() {
      var element = document.body;
      element.classList.toggle("dark");
    }
  </script>

</body>
</html>