{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pathshaala</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'style.min.css' %}">
</head>

<body class="font-mono">
 <!-- add a jinja block -->

 <div class="top-2 min-h-screen bg-purple-50 text-gray-800 antialiased px-4 py-6 flex flex-col justify-center sm:py-12 dark:bg-gray-700">


  <button id="modebtn" onclick="darkMode()"
  class="bg-black dark:bg-white p-2 rounded-full m-4 absolute top-0 right-0">🌙</button>

 {% block content %} {% endblock %}

 </div>
 
<script>

  function validateForm()
  {
    var email = document.forms["login"]["email"];
    var password = document.forms["login"]["password"];
    if (email.value == "" || password.value == "") {
        if (password.value == "")
        {
            password.classList.add("ring-2");
        }
        if (email.value == ""){
            email.classList.add("ring-2");
        }

        return false;
    }
    return true;
}

    function darkMode() {
      var element = document.body;
      element.classList.toggle("dark");
  
      if (element.classList.contains("dark")) {
        document.getElementById("modebtn").innerHTML = "🔆";
      } else {
        document.getElementById("modebtn").innerHTML = "🌙";
      }
    }

    function signupvalidateForm()
    {
      var email = document.forms["signup"]["email"];
      var password = document.forms["signup"]["password"];
      var retype_password = document.forms["signup"]["retype_password"];
      var fname = document.forms["signup"]["fname"];
      var lname = document.forms["signup"]["lname"];
      var gender = document.forms["signup"]["gender"];
      var country = document.forms["signup"]["country"];
      var error = document.getElementById("form-error");
      var regularExpression  = /^(?=.*[0-9])(?=.*[!@#$%^&*])[a-zA-Z0-9!@#$%^&*]{6,16}$/;
      console.log(email.value, password.value, country.value, fname.value, gender.value, lname.value)
      if(lname.value == ""){
        lname.value = " "
      }

      if (email.value == "" || password.value == "" || retype_password.value == "" || fname.value == "" || gender.value == "" || country.value == "") 
       {
          if (password.value == "")
          {
              password.classList.add("ring-2");
          }
          else{
            password.classList.remove("ring-2");
          }

          if (email.value == ""){
              email.classList.add("ring-2");
          }
          else{
            email.classList.remove("ring-2");
          }

          if (retype_password.value == ""){
              retype_password.classList.add("ring-2");
          }
          else{
            retype_password.classList.remove("ring-2");
          }

          if (fname.value == ""){
              fname.classList.add("ring-2");
          }
          else{
            fname.classList.remove("ring-2");
          }

          if (country.value == ""){
            country.classList.add("ring-2");
          }
          else{
            country.classList.remove("ring-2");
          }

          error.innerHTML = "Please Fill all * Feilds";
          return false;
      }
      else if (regularExpression.test(password.value) == false || password.value.length <6 ) 
      {
        password.classList.add("ring-2");
        retype_password.classList.add("ring-2");
        error.innerHTML = "Password not Strong <br> Guidelines = passowrd should be 6 characters long should have [lowercase alphabet, a number,  special character]"
        return false;
      }
      else if (password.value != retype_password.value)
      {
        error.innerHTML = "Passwords do not match"
        return false;
      }
      else{
        return true;
      }
    }
</script>

</body>

</html>