{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pathshaala</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- <link rel="stylesheet" href="{% static 'style.min.css' %}"> -->
  <link href="https://pathshaala.azureedge.net/style.min.css" rel="stylesheet">
</head>

<body class="font-mono">
 <!-- add a jinja block -->

 <div class="top-2 min-h-screen bg-purple-50 text-gray-800 antialiased px-4 py-6 flex flex-col justify-center sm:py-12 dark:bg-gray-700">


  <button id="modebtn" onclick="darkMode()"
  class="bg-black dark:bg-white p-2 rounded-full m-4 absolute top-0 right-0">🌙</button>

 {% block content %} {% endblock %}

 </div>
 
<script>

  function clearalert() 
  {
    document.getElementById("alert").style.display = "none";
  }

    function darkMode() {
      var element = document.body;
      element.classList.toggle("dark");
  
      if (element.classList.contains("dark")) {
        document.getElementById("modebtn").innerHTML = "🔆";
      } else {
        document.getElementById("modebtn").innerHTML = "🌙";
      }
    }
</script>

</body>

</html>