{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <title>Pathshaala</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'style.min.css' %}">
</head>

<body class="">
 <!-- add a jinja block -->
 

<script>
    function darkMode() {
      var element = document.body;
      element.classList.toggle("dark");
      if (element.classList.contains("dark")) {
        document.getElementById("modebtn").innerHTML = "🔆";
      } else {
        document.getElementById("modebtn").innerHTML = "🌙";
      }
    }
</script>

</body>

</html>