{% extends "teacher/dashboard/courses/template.html"%}

{% block content-script %}
<script>

    document.getElementById("dashboard").classList.remove("bg-gray-900")
    document.getElementById("dashboard").classList.add("bg-gray-500")
    document.getElementById("dashboard-icon").classList.remove("text-gray-600")

</script>
{% endblock %}

{% block content-title %}
About Course
{% endblock %}

{% block content %}

<div class="mx-2">

    <!-- <div class="p-3 m-2">
        {{ course }}
    </div> -->

    <iframe src="https://pathshaala-live.azurewebsites.net/?groupId={{ course.live }}" class="w-full min-h-screen" name="video-call-frame"></iframe>

</div>


{% endblock %}