{% extends "teacher/dashboard/courses/template.html"%}

{% block content-script %}
<script>

    document.getElementById("dashboard").classList.remove("bg-gray-900")
    document.getElementById("dashboard").classList.add("bg-gray-500")
    document.getElementById("dashboard-icon").classList.remove("text-gray-600")

</script>
{% endblock %}

{% block content-title %}
About Course
{% endblock %}

{% block content %}

<div class="mx-2">

    <!-- <div class="w-3/4 m-auto text-center bg-green-900 mt-4 text-black p-2 rounded-md transition-linear duration-300">
        
        <a target="_blank" href="https://pathshaala-live.azurewebsites.net/?groupId={{ course.live }}" class="text-3xl text-white font-bold flex justify-center"> 
            <span class="m-2"> < </span> 
            <img class="p-0 m-0 mr-4" src="https://img.icons8.com/ios-filled/50/ffffff/video-conference.png"/> 
            <span class="m-2">Start Video Lecture /> </span>
        </a>

    </div> -->



    <div class="w-full relative mt-4 bg-gray-900 p-4 rounded-md transition-linear duration-300">
        <h1 class="text-3xl text-white font-bold">{{ course.name }}</h1>
        <hr class="text-white bg-white my-4">
        <img src="{{course.img}}" class="object-contain h-2/3 p-1 rounded-md bg-white w-full" alt="">
        <!-- <hr class="text-white bg-white my-1 mt-2"> -->
        <h3 class="text-white text-xl mt-2 m-1">{{ course.description }}</h3>
        <h3 class="text-white text-base bg-gray-500 m-1 p-1">Students: {{ course.students }}
            <span class="float-right">Since {{ course.from.date }} </span></h3>

            <div class="m-1 mt-4">
                {% for tag in course.tags %}
                <span class="text-white text-base rounded-xl p-1 px-2 bg-gray-500 hover:bg-white hover:text-gray-900 transition-linear duration-200">{{ tag }}</span>
                {% endfor %}
            </div>
    </div>

</div>


{% endblock %}